
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
   max-width: 1140px;
   margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 30px;
    gap: 30px;
}
.nav-link a{
    text-decoration: none;
}
.nav-iteam{
    font-size: 16px;
    color:rgb(37, 36, 50) ;
}
/* Banner style*/
.btn-png{
    color:rgb(233, 90, 8) ;
}
.banner{
    margin-top: 163px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 65px;
    font-weight: 
    height: 177px;
}
.banner-description{
    font-size: 22px;
    font-weight: 400;
    width: 570px;
    top: 190px;
    height: 107px;
}
.banner img{
    width: 570px;
    height: 355px;
    top: 106px;
    left: 570px;
    
}
/*main iteam style*/
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.plants-header{
    align-items: center;
    text-align: center;
}
.our-plants-title{
    font-weight: 700;
    font-size: 50px;
    
}
.our-plants-description{
    font-weight: 400px;
    font-size: 22px;
    height: 27px;
    top: 84px;
    left: 126px;

}
.button-bg-color{
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    width: 270px;
    height: 50px;
    top: 80px;
    
    padding: 26px 50px 26px 50px 

}
.our-plants{
    margin-top: 136px;
}
.our-plant-img{
    margin-top: 61px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.our-plant-title{
    text-align: center;
}
.card{
    display: flex;
    margin-top: 250px;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
.flower-img{
    width: 100%;
    position: relative;
    background-color: aqua;

}
.badge-img{
    width: 250px;
    height: 250px;
    background-color: none;
    position: absolute;
    left: 10%;
    t
    
    
    
}
.
.flower-content h2{
    font-weight: 700;
    font-size: 50px;

    
}
.flower-content p{
    font-size: 22px;
    font-weight: 400px;
    color:rgba(0, 0, 0, 0.5) ;
}
/* section styling*/
.deals-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
    margin-top: 142px;
}
.deals-header{
    align-items: center;
    text-align: center;
}
.deals-title{
    font-size: 50px;
    font-weight: 700;
}
.deals-description{
    font-size: 22px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
}

.bloom-plant{
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 366.22px;
    height: 206px;
    color: white;
    font-weight: 700;
    filter: brightness(85%);
    font-size: 20px;
    border-radius: 10px;
    gap:19px
    
    
    
}
.ana-plant{
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: brightness(85%);
    align-items: center;
    width: 366.22px;
    height: 206px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;

}
.zabo-plant{
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: brightness(85%);
    align-items: center;
    border-radius: 10px;
    width: 753px;
    height: 423.13px;
     color: white;
    font-weight: 700;
    font-size: 20px;
}
.button{
    margin-top:-25px;
}





@media(max-width:576px){
    .our-plant-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .hidden{
        display: none ;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 16px 28px;
        margin-left: 45px;
        justify-content: center;
    }
    .banner-title{
    font-size: 65px;
    font-weight: 
    height: 177px;
    }
    .deals-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .deals-header{
        text-align: center;
        align-items: center;
        
    }
    .deals-container{
        width: 100%;
        align-items: center;
    }
    
}