
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container{
    width: 100%;
}


.header{
   max-width: 1140px;
   margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: 30px;
    gap: 30px;
}
.nav-link a{
    text-decoration: none;
}
.nav-iteam{
    font-size: 16px;
    color:rgb(37, 36, 50) ;
}
/* Banner style*/
.btn-png{
    color:rgb(233, 90, 8) ;
}
.banner{
    margin-top: 163px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 65px;
    font-weight: 
    height: 177px;
}
.banner-description{
    font-size: 22px;
    font-weight: 400;
    width: 570px;
    top: 190px;
    height: 107px;
}
.banner img{
    width: 570px;
    height: 355px;
    top: 106px;
    left: 570px;
    
}
/*main iteam style*/
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.plants-header{
    align-items: center;
    text-align: center;
}
.our-plants-title{
    font-weight: 700;
    font-size: 50px;
    
}
.our-plants-description{
    font-weight: 400px;
    font-size: 22px;
    height: 27px;
    top: 84px;
    left: 126px;

}
.button-bg-color{
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    width: 270px;
    height: 50px;
    top: 80px;
    
    padding: 26px 50px 26px 50px 

}
.our-plants{
    margin-top: 136px;
}
.our-plant-img{
    margin-top: 61px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.our-plant-title{
    text-align: center;
}
.section-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 1140px ;
    margin: 0 auto;
}
.image-container{
    flex: 1;
    position: relative;
}
.image-container img{
  width: 540px;
  border-radius: 8px;
}
.badge{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
}
.content{
    flex: 2;
}
.content.h2{
    font-size: 24px ;
    margin-bottom: 10px;
    color: #222;
}
.content p{
margin-bottom: 12px;
color: #555;
line-height: 1:6;
}
/* section styling*/
.deals-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
    margin-top: 142px;
}
.deals-header{
    align-items: center;
    text-align: center;
}
.deals-title{
    font-size: 50px;
    font-weight: 700;
}
.deals-description{
    font-size: 22px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
}

.bloom-plant{
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 366.22px;
    height: 206px;
    color: white;
    font-weight: 700;
    filter: brightness(85%);
    font-size: 20px;
    border-radius: 10px;
    gap:19px
    
    
    
}
.ana-plant{
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: brightness(85%);
    align-items: center;
    width: 366.22px;
    height: 206px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;

}
.zabo-plant{
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: brightness(85%);
    align-items: center;
    border-radius: 10px;
    width: 753px;
    height: 423.13px;
     color: white;
    font-weight: 700;
    font-size: 20px;
}
.button{
    margin-top:-25px;
}
/* subscribe section style*/
.subscribe-section{
    background-image: url(../assets/news-letter-bg.png);
    padding: 60px 20px;
    height: 533px;
    margin-top: 20px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat
    
    
}
.subscribe-container h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.subscribe-container form{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;

}
.subscribe-container input[type=email]{
    padding:10px;
    width:60%;
    border: none;
    border-radius: 5px;
}
.subscribe-container button{
    padding: 10px 20px;
    background-color: rgb(233, 90, 8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*footer-style*/
.footer{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 40px 20px ;
    color: #333;
    
}
.footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.footer-brand{
    flex: 1 1 250px ;
}
.footer-option{
    list-style: none;
}
.footer-link a{
    text-decoration: none;
}
.footer-link{
    display: flex;
    flex: 2 1 400px;
    gap: 40px
}
.footer-link li{
    margin-bottom: 8px;
}
.footer-social{
    display: flex;
    
    gap: 10px;
    

}
.footer-social img{
    width: 24px;
    height: 24px;
}


    


    
    
    






@media(max-width:576px){
        
    .our-plant-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .hidden{
        display: none ;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 16px 28px;
        margin-left: 45px;
        text-align: center;
        
        justify-content: center
        
        
    }
    .plants-lover{
        flex-direction: column-reverse;
        align-self: center;

    }
    .banner-title{
    font-size: 65px;
    
    height: 177px;
    }
    .deals-header{
        flex-direction: column;
    }
    .deals-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .deals-header{
        text-align: center;
        align-items: center;
        
    }
    .deals-container{
        
        align-items: center;
    }
    .footer{
        padding: 30px 15px ;
    }
    .footer-top{
        flex-direction: column;
        
    }
    .footer-brand h3{
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .footer-brand p{
        font-size:0.9rem;
        margin-bottom: 20px;
    }
    .footer-link{
        flex-direction: column;
        gap: 10px;
    }
    .footer-link ul{
        padding: 0;
    }
    .footer-link li{
        font-size: 0.9rem;
    }
    .footer-social{
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;
    }
    .footer-social img{
        width: 26px;
        height: 26px;
    }
    .section-container{
        flex-direction: column;
        padding: 15px;
    }
    .hidden{
        display: none;
    }
    .content h2{
        font-size: 22px;
        text-align: center;
    }
    .content p{
        font-size: 14px;
        text-align: justify;
    }


    
}